@model IEnumerable<StudentLogger.Models.EnrolledIn>

@{
    ViewData["Title"] = "Enrolled Student";
}

<h1>Enrolled Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name) @Html.DisplayFor(modelItem => item.Student.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@item.StudentID">Edit Student</a>
                </td>
            </tr>
        }
    </tbody>
</table>
